<div class="modal" tabindex="-1" role="dialog" id="confirm-delete">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Operacijos patvirtinimas</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="paragraph">Šiuo veiksmu jus ištrinsite
                    <b>
                        <i class="title"></i>
                    </b>, ši operacija yra negrįžtama.</p>
                <p>Ar jus tikrai norite tęsti?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default grey" data-dismiss="modal">Atšaukti</button>
                <button class="btn btn-danger btn-ok">Taip, trinti</button>
            </div>
        </div>
    </div>
</div>