<div class="modal" tabindex="-1" role="dialog" id="start-stream">
    <div class="modal-dialog modal-dialog-centered" role="document" style="height: 400px; width: 650px">
        <div class="modal-content">
            <div class="modal-header" style="max-height: 50px">
                <h5 class="modal-title"><b><i class="title"></i></b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <iframe src="http://192.168.8.104:8000/index.html" height="485" width="645" name="iframe_a"></iframe>
            </div>
        </div>
    </div>`
</div>