{% extends 'base.html.twig' %}

{% block title %}Terrariums{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6 col-xs-6">
            <h2>Terrariums management</h2>
        </div>
        {% if is_granted('ROLE_ADMIN') %}
        <div class="col-md-6 col-sm-6">
            <a class="btn grey float-right" href="{{ path('create_terrariums') }}">Add terrarium</a>
        </div>
        {% endif %}
    </div>
    {% include 'modal/confirm.html.twig' %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div id="alert" class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <div class="table-responsive">
        {% include 'table/terrarium-table.html.twig' %}
    </div>
{% endblock %}
