<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Terrarium web</a>

    <ul class="navbar-nav px-3 mr-auto">
        <li class="nav-item text-nowrap">
            <a class="nav-link text-white" href="{{ path('app_logout') }}">
{#                {{ app.user.admin ? 'Admin - ' : 'Client - ' }}{{ app.user.username }}#}
            </a>
        </li>
    </ul>

    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link text-white log-out" href="{{ path('app_logout') }}">
                <i class="fas fa-sign-out-alt"></i> Sign out
            </a>
        </li>
    </ul>
</nav>