<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">{{ app.user.admin ? 'Prižiūrinti įmonė - ' : 'Klientas - ' }}{{ app.user.username }}</a>

    <ul class="navbar-nav px-3 mr-auto">
        <li class="nav-item text-nowrap">
            <a class="nav-link text-white">
                Terariumų tinklo priežiūros informacinė sistema
            </a>
        </li>
    </ul>

    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link text-white log-out" href="{{ path('app_logout') }}">
                <i class="fas fa-sign-out-alt"></i> Atsijungti
            </a>
        </li>
    </ul>
</nav>