{% extends 'base.html.twig' %}

{% block title %}Pagrindinis langas{% endblock %}

{% block body %}
    <h2>Terariumų duomenys</h2>
    <div class="table-responsive">
        {% include 'table/data-table.html.twig' %}
    </div>
    <script>
        setInterval(function () {
            this.getData('terrariums-data-table', 'Terrariums data');
        }, 50000)
    </script>
{% endblock %}
