<table class="table table-striped table-sm" id="messages-table">
    <thead>
    <tr>
        <th>Terariumas</th>
        <th>Pranešimas</th>
        <th>Laikas</th>
    </tr>
    </thead>
    <tbody>
    {% for message in messages %}
        {% if message.active == 1 %}
            <tr style="color: red">
        {% else %}
            <tr>
        {% endif %}
        <td>{{ message.name }}</td>
        <td>{{ message.message }}</td>
        <td>{{ message.time }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>