<table class="table table-striped table-sm" id="messages-table">
    <thead>
    <tr>
        <th>Terrarium</th>
        <th>Message</th>
        <th>Time</th>
        <th>Active</th>
    </tr>
    </thead>
    <tbody>
    {% for message in messages %}
        <tr>
            <td>{{ message.name }}</td>
            <td>{{ message.message }}</td>
            <td>{{ message.time }}</td>
            <td>{{ message.active }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>